.page-id-48 {
    h1{
        text-align: center;
        margin: 1rem 0;
    }
    .content-wrapper {
        margin-top: unset;
    }

    #our-baking{
        h2{
            text-align: center;
            
        }
    }
    .our-teams{
        h2{
            text-align: center;
        }
        .img-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            img{
                height: 20rem;
                max-width: 20rem;
            }
        }
    }
}