.accordion-list{
    .accordion {
        margin-bottom: 20px;
    }

    .accordion-btn {
        background-color: #c97c5d;
        color: white;
        text-align: center;
        border-radius: 1rem;
        border: none;
        outline: none;
        width: 100%;
        font-size: 18px;
        transition: all 250ms;
        cursor: pointer;

        &:hover {
            background-color: #d18e6e;
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
            transform: translateY(-1px);
        }
        &:active {
            background-color: #a86a4b;
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            transform: translateY(0);
            text-decoration: none;
        }
    }

    // .accordion-btn

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        background-color: #f9f9f9;
        padding: 0 15px;
    }

    .accordion-content .entry-content {
        padding: 0;
    } 
}


@media (min-width: 47rem) {
    .accordion-list{
        margin: 3rem 0;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        .accordion {
            width: 50rem;
            max-width: 30rem;
        }
        p{
            width: unset;
        }

    }
}

@media (min-width: 90rem) {
    .accordion-list{
      width: 80rem;
      margin: 3rem auto;
    }
}