// Front Page

.hero-article {
  margin: 1rem;
}

.hero-text-container {
  width: 100%;

  .hero-text {
    font-size: 2.5rem;
    font-weight: 900;
    @include work-sans;
    margin: 0;
  }
  .hero-description {
    font-size: 1rem;
    font-weight: 400;

    margin: 0;
  }

  .lab-text {
    color: #c97c5d;
  }
}

.cta-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
  .cta-home-one {
    margin-right: 1rem;
    align-items: center;
    background-clip: padding-box;
    background-color: #c97c5d;
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #000000;
    display: inline-flex;
    @include work-sans;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 45%;

    &:hover {
      background-color: #d18e6e;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      transform: translateY(-1px);
    }

    &:active {
      background-color: #a86a4b;
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      transform: translateY(0);
    }

    a:visited {
      color: #fff;
    }
  }

  .cta-home-two {
    margin-right: 1rem;
    align-items: center;
    background-clip: padding-box;
    background-color: #8a9bae;
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #000000;
    display: inline-flex;
    @include work-sans;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 45%;

    &:hover {
      background-color: #a1b3c6;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      transform: translateY(-1px);
    }

    &:active {
      background-color: #6e7f8f;
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      transform: translateY(0);
    }

    a:visited {
      color: #fff;
    }
  }
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

@media screen and (min-width: 50em) {
  .hero-article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 1rem;

    .hero-text-container {
      width: 40%;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}

// Hero Slider
.hero-slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .hero-slide {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

// Announcement Bar Infinite Scroll

.announcement-scroller {
  background-color: #232323;
  border-bottom: 1px solid #e9ecef;

  color: #212529;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s all;
  padding: 0;

  p {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 30s linear infinite;
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

// ACF Cards

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  padding: 2rem 0;

  .card {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: rgba(0, 0, 0, 0.15) 0 8px 12px;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 1rem 0;
      color: #333;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      margin: 0 1rem 1rem;
      color: #666;
    }

    a {
      display: inline-block;
      margin: 1rem 0;
      padding: 0.5rem 1rem;
      background-color: #c97c5d;
      color: #fff;
      text-decoration: none;
      border-radius: 0.25rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #d18e6e;
      }
    }
  }
}
