// ul,
// ol {
// 	margin: 0 0 1.5em 3em;
// }

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}


//career page
.page-id-217 {
	.wp-block-list{
		padding: 0;
		li{
			margin-bottom: 1rem;
		}

	}
	.entry-content{
		ul{
			list-style: inside;
			padding: 0;
			li{
				margin-bottom: 1rem;
			}
		}
	}
}