.form-catering, .form-career {
    width: 50rem;
    margin: 1rem auto;
    background-color: #fff;
}

// @media (min-width: 47em) {
//     #gform_3{
//         padding: 0.8rem;
//         width: 40rem;
//         margin: 0 auto;
//         .gform-body{
//             width: 43.75rem;
//             margin: 0 auto;
//         }
   
//     } 
// }

// @media (min-width: 62.5em){
//     #gform_3{
//         .gform-body{
//             width: 60%;
//             margin: 0 auto;
//         }
//     }
// }